.git
.vscode
.codebuddy
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.egg-info

backend/.env
backend/data
backend/__pycache__

frontend/node_modules
frontend/dist
frontend/.env.*
frontend_update/frontend/node_modules
frontend_update/frontend/dist
frontend_update/frontend/.env.*

models
models_cache
school_resource
frontend.zip
frontend_update.zip
*.db
*.wav
*.mp3
*.webm
